<form action="/todo/add" method="post">
  <div class="row">
    <div class="col">
      <input name="todo_text" type="text" class="form-control" placeholder="Todo">
    </div>
    <div class="col">
       <button type="submit" class="btn btn-default" value="submit">Add</button>
    </div>
  </div>
</form>