<!DOCTYPE html>
<html>
	<head>
		<title>TestApp</title>
		<link rel="stylesheet" href="css/vendor/bootstrap.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css">
		
	</head>
	<body>
		{% include 'navbar.html.twig' %}
		
		
		<div class="container-fluid">
			<br/>
			{% block content %}
		    	content in layout template
		    {% endblock %}
		
			<hr>
			<footer>
				<p></p>
			</footer>
		</div>
		{% block javascripts %}
    		<!-- Optional JavaScript -->
    	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    	    <script src="js/vendor/jquery.validate.min.js"></script>
    	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    	    <script src="js/vendor/bootstrap.min.js"></script>
    		<script src="/js/main.js"> </script>
		{% endblock %}
	</body>
</html>