{% extends "base.html.twig" %}
{% block content %}

 	{{ include('form/todo.html.twig') }}
	
	{% if todolist %}
		<ul>
		{% for todo in todolist %}
	        <li>{{ todo.text }}</li>
	    {% endfor %}
		 </ul>    
	{% else %}
		No Todos    
	{% endif %}    
   
   	
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="js/todo.js"></script>
{% endblock %}






